MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=your_strong_password
MONGO_URL=mongodb://your_username:your_password_url_encoded@mongo:27017/clean-node-api?authSource=admin
ME_CONFIG_MONGODB_URL=mongodb://your_username:your_password_url_encoded@mongo:27017/
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=your_strong_password
JWT_SECRET=your_long_random_secret
PORT=8080
